
body {
    /* https://coolors.co/generate and click export -> scss to get the colors to copy and paste below*/
    /* --color1: hsla(349, 69%, 76%, 1);
    --color2: hsla(207, 67%, 44%, 1);
    --color3: hsla(200, 61%, 56%, 1);
    --color4: hsla(187, 41%, 94%, 1);
    --color5: hsla(170, 28%, 95%, 1); */

    /* --color1: hsla(45, 86%, 83%, 1);
    --color2: hsla(135, 65%, 98%, 1);
    --color3: hsla(315, 37%, 86%, 1);
    --color4: hsla(45, 73%, 98%, 1);
    --color5: hsla(224, 40%, 79%, 1); */
    
    --header-height: 80px;
    --shadow: 0px 10px 20px -12px rgba(0,0,0,0.45);
    --gutter: 30px;
    --footer-height: 25px;
    
    font-family: 'Titillium Web', sans-serif;
    background-color: var(--color2);
}

html, body {
    height: 100%;
    width: 100%;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: calc(var(--footer-height));
}

section {
    background-color: var(--color5);
    width: 1000px;
    max-width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: var(--gutter);
    padding-bottom: var(--gutter);
    margin-top: var(--gutter);
    margin-bottom: var(--gutter);

}

header {
    display: flex;
    justify-content: flex-end;
    background-color: var(--color3);
    height: var(--header-height);
    box-shadow: var(--shadow);
}

a {
    text-decoration: none;
    font-weight: bold;
    color: #297373;
}

h2 {
    font-size: 1.8rem;
    font-weight: bold;
}

.gutter-right {
    margin-right: 20px;
}

.main-logo {
    animation: pulse 5s infinite ease-in-out;
}

header img {
    height: var(--header-height);
}

p {
    margin: var(--gutter);
}
  
footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    height: var(--footer-height);
    display: flex;
    justify-content: flex-end;
    background-color: #39393A;
    box-shadow: var(--shadow);
}

  
  @keyframes pulse {
    20% {
      transform: rotate3d(-10, -10, -10, 50deg) scale(1.2);
    }

    40% {
        transform: rotate3d(10, 10, -10, 50deg) scale(1);
    }

    60% {
        transform: rotate3d(-10, 10, 10, 50deg) scale(1.2);
      }

    80% {
        transform: rotate3d(10, 10, 10, 50deg) scale(1);
    }

  }

#logout {
    position: fixed;
    right: 20px;
    top: 90px;
}

.auth-main {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.auth-container {
    margin: 10px;
}

.auth-container form {
    display: flex;
    flex-direction: column;
}

.auth-container button {
    margin: 10px;
}

.employee-list {
    display: flex;
    flex-wrap: wrap;
}
.employee-list-item {
    background-color: #ff8552;
    padding: 15px;
    border-radius: 15px;
    margin: 10px;
}
.body-employees {
    background-color: #E9D758;
}
.header-employees {
    background-color: #297373;
}
.employee-list-item:hover {
    transform: scale(1.1);
    box-shadow: 5px 5px 15px 5px #000000;
}

.employee-body {
    background-image: url('/assets/noods.jpg');
    background-size: 100vw;
    
}
.employee-main {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2973739a;
    width: 80%;
    margin-left: 10%;
    border-radius: 20px;
    color: #E9D758;
}

.profile-rating {
    display: flex;
    justify-content: center;
    align-items: center;
}

.message {
    display: flex;
    align-items: center;
    background-color: #ff8552;
    padding: 15px;
    border-radius: 15px;
    color: #297373;
    font-weight: bold;
    border: #297373;
}
.message:hover {
    transform: scale(1.1);
    box-shadow: 5px 5px 15px 5px #000000;;
}

button {
    background-color: #297373;
    padding: 15px;
    border-radius: 10px;
}
button:hover {
    background-color: #ff8552;
}
.login-body {
    background-image: url('/assets/doors.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.auth-main {
    background-color: #39393aa8;
    width: 80%;
    margin-left: 12%;
    color:  rgb(252, 173, 173);
}

/* styling the chat room */

main {
    width: 100;
}

.chatroom {
    width: 90%;
    height: 80vh;
    border: dotted 1px black;
    display: grid;
    grid-template-rows: 19fr 1fr;
}

.input-area input {
    width: 90%;
    /* border: none; */
    text-align: right;
}

input:focus {
    outline: none;
    background-color: lightblue;
}

.input-area {
    border-top: dotted 1px black;
    padding: 5px;
}

.chat-message {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

p {
    margin: 10px;
}

.chat-message .sender {
    color: blue;
    font-family: 1.2rem;
    margin: 0;
}

.is-me {
    border: solid 1px black;
    color: red !important;
}